<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

	<!-- ==================== JDBC configuration ============================ -->
	<bean id="pool" class="com.epam.task9.database.pool.ConnectionPool"
		init-method="init" factory-method="getInstance" destroy-method="dispose">
		<property name="url">
			<value>jdbc:oracle:thin:@localhost:1521:XE</value>
		</property>
		<property name="driver">
			<value>oracle.jdbc.driver.OracleDriver</value>
		</property>
		<property name="user">
			<value>YURY</value>
		</property>
		<property name="password">
			<value>pass</value>
		</property>
		<property name="poolSize">
			<value>10</value>
		</property>
	</bean>

	<bean id="newsJDBCDAO" class="com.epam.task9.database.dao.NewsDAO">
		<constructor-arg ref="pool" />
	</bean>

</beans>